html, body, #app, #app>div {
  height: 100%
}

.app {
  text-align: center;
}

.app-header {
  background-color: rgb(25,32,43);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-body {
  background-color: #1b192b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.app-link {
  color: #61dafb;
}

.main-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  min-width: 60vh;
  min-height: 10vh;
}

.column-grid {
  display: flex;
  /* justify-content: center; */
  flex-direction: column !important;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.column-grid > * {
  margin-bottom: 20px;
  margin-right: 20px;
}

.post-it {
  background-color: #f2faff !important;
  height: 30vh;
  width: 30vh;
}